<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friend_add_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{424,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{424,65}}</string>
                <key>sourceSize</key>
                <string>{426,65}</string>
            </dict>
            <key>friend_bg_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,187},{105,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,41}}</string>
                <key>sourceSize</key>
                <string>{105,41}</string>
            </dict>
            <key>friend_content_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,142},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>friend_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,142},{105,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,87}}</string>
                <key>sourceSize</key>
                <string>{105,87}</string>
            </dict>
            <key>friend_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,69},{114,116}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{114,116}}</string>
                <key>sourceSize</key>
                <string>{124,124}</string>
            </dict>
            <key>friend_jiantou_gay.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,75},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>friend_jiantou_nor.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,187},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,65}}</string>
                <key>sourceSize</key>
                <string>{48,65}</string>
            </dict>
            <key>friend_list_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{305,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{305,65}}</string>
                <key>sourceSize</key>
                <string>{305,65}</string>
            </dict>
            <key>friend_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{699,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{699,71}}</string>
                <key>sourceSize</key>
                <string>{705,71}</string>
            </dict>
            <key>friend_page_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,69},{170,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,62}}</string>
                <key>sourceSize</key>
                <string>{170,62}</string>
            </dict>
            <key>friend_red_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>friend_serch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,133},{416,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,72}}</string>
                <key>sourceSize</key>
                <string>{416,72}</string>
            </dict>
            <key>friend_serch_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,75},{38,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,42}}</string>
                <key>sourceSize</key>
                <string>{38,42}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1024,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65901443800f676673bcc24e66c0f4fd$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
