<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_bot_alive_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{132,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>lb_bot_charge_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{132,122}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{132,122}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>lb_bot_mail_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,2},{130,120}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{130,120}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>lb_bot_shop_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{132,118}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{132,118}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>lb_bot_sig_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,128}}</string>
                <key>sourceSize</key>
                <string>{132,128}</string>
            </dict>
            <key>lb_bottom_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,136},{1339,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1339,86}}</string>
                <key>sourceSize</key>
                <string>{1339,86}</string>
            </dict>
            <key>lb_bottom_bird.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,136},{100,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{100,88}}</string>
                <key>sourceSize</key>
                <string>{106,90}</string>
            </dict>
            <key>lb_quick_start_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{262,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{262,81}}</string>
                <key>sourceSize</key>
                <string>{262,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lb_bottom.png</string>
            <key>size</key>
            <string>{1567,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b0e2b4934cbf5f37adf1d5d731136ac$</string>
            <key>textureFileName</key>
            <string>lb_bottom.png</string>
        </dict>
    </dict>
</plist>
