<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>charge_des_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1440,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1440,111}}</string>
                <key>sourceSize</key>
                <string>{1440,111}</string>
            </dict>
            <key>charge_double_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,198},{158,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,155}}</string>
                <key>sourceSize</key>
                <string>{158,155}</string>
            </dict>
            <key>charge_item_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,168},{710,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{710,204}}</string>
                <key>sourceSize</key>
                <string>{710,204}</string>
            </dict>
            <key>charge_item_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,427},{179,77}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{179,77}}</string>
                <key>sourceSize</key>
                <string>{183,77}</string>
            </dict>
            <key>charge_jinbi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,179},{176,114}}</string>
                <key>offset</key>
                <string>{-5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,51},{176,114}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_jinbi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{176,126}}</string>
                <key>offset</key>
                <string>{-5,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,37},{176,126}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_jinbi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,362},{180,146}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,16},{180,146}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_jinbi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{194,162}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,2},{194,162}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1806,2},{423,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,86}}</string>
                <key>sourceSize</key>
                <string>{423,86}</string>
            </dict>
            <key>charge_title_jinbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{379,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{379,68}}</string>
                <key>sourceSize</key>
                <string>{385,70}</string>
            </dict>
            <key>charge_title_zuanshi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,2},{301,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{301,66}}</string>
                <key>sourceSize</key>
                <string>{305,66}</string>
            </dict>
            <key>charge_vip_log.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,383},{86,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,39}}</string>
                <key>sourceSize</key>
                <string>{86,39}</string>
            </dict>
            <key>charge_vviipp_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,115},{778,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{778,62}}</string>
                <key>sourceSize</key>
                <string>{778,62}</string>
            </dict>
            <key>charge_vviipp_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,179},{157,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,128}}</string>
                <key>sourceSize</key>
                <string>{157,128}</string>
            </dict>
            <key>charge_zuanshi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,179},{164,116}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,37},{164,116}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_zuanshi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,179},{174,114}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,46},{174,114}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_zuanshi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,168},{192,120}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,40},{192,120}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
            <key>charge_zuanshi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1444,2},{196,164}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1},{196,164}}</string>
                <key>sourceSize</key>
                <string>{224,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>charge.png</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc234ed05a38bfa9759d7f958b4c4fdc$</string>
            <key>textureFileName</key>
            <string>charge.png</string>
        </dict>
    </dict>
</plist>
