<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_func_menu_achi.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{146,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{146,140}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>lb_func_menu_backbag.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,278},{134,130}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,8},{134,130}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>lb_func_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,842}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,842}}</string>
                <key>sourceSize</key>
                <string>{176,842}</string>
            </dict>
            <key>lb_func_menu_daily.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{136,124}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,14},{136,124}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>lb_func_menu_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,144},{138,132}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{138,132}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>lb_func_menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,278},{120,112}}</string>
                <key>offset</key>
                <string>{9,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,27},{120,112}}</string>
                <key>sourceSize</key>
                <string>{146,146}</string>
            </dict>
            <key>lb_top_menu_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,278},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
            <key>lb_top_menu_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,278},{131,131}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,131}}</string>
                <key>sourceSize</key>
                <string>{131,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lb_topmenu.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cd9e2c1bd7d2ef0934477d6c5ba05e0$</string>
            <key>textureFileName</key>
            <string>lb_topmenu.png</string>
        </dict>
    </dict>
</plist>
