<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_battry.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{40,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,21}}</string>
                <key>sourceSize</key>
                <string>{40,21}</string>
            </dict>
            <key>gs_signal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{6,7}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,17},{6,7}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>gs_signal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,240},{14,13}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{14,13}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>gs_signal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,142},{22,19}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,5},{22,19}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>gs_signal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,201},{30,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,25}}</string>
                <key>sourceSize</key>
                <string>{32,25}</string>
            </dict>
            <key>gs_top_key.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{57,57}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>gs_top_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1186,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1186,138}}</string>
                <key>sourceSize</key>
                <string>{1186,140}</string>
            </dict>
            <key>gs_wifi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,243},{7,6}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,20},{7,6}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gs_wifi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,240},{17,12}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{17,12}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gs_wifi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,233},{27,20}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{27,20}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
            <key>gs_wifi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{25,201},{37,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,26}}</string>
                <key>sourceSize</key>
                <string>{37,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gs_topbar.png</string>
            <key>size</key>
            <string>{2048,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:485df75d90ec066df31b61a9654813eb$</string>
            <key>textureFileName</key>
            <string>gs_topbar.png</string>
        </dict>
    </dict>
</plist>
