<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flyChicken_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{188,202}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{188,202}}</string>
                <key>sourceSize</key>
                <string>{200,208}</string>
            </dict>
            <key>flyChicken_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,208}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{192,208}}</string>
                <key>sourceSize</key>
                <string>{200,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flyChicken.png</string>
            <key>size</key>
            <string>{512,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62184907c2e76f12ed3a4f1d4be25e73$</string>
            <key>textureFileName</key>
            <string>flyChicken.png</string>
        </dict>
    </dict>
</plist>
