<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocketbomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{475,536}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,3},{475,536}}</string>
                <key>sourceSize</key>
                <string>{603,608}</string>
            </dict>
            <key>rocketbomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{523,576}}</string>
                <key>offset</key>
                <string>{16,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,30},{523,576}}</string>
                <key>sourceSize</key>
                <string>{603,608}</string>
            </dict>
            <key>rocketbomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,580},{381,344}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,134},{381,344}}</string>
                <key>sourceSize</key>
                <string>{603,608}</string>
            </dict>
            <key>rocketbomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,580},{223,212}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{223,212}}</string>
                <key>sourceSize</key>
                <string>{223,222}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocketbomb.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3420a5baa5b8a7921a6eefa89e02b83$</string>
            <key>textureFileName</key>
            <string>rocketbomb.png</string>
        </dict>
    </dict>
</plist>
