<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>roleDroppingBomb2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{175,272}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{175,272}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,296}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{175,296}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{181,274}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{181,274}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,278},{177,258}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{177,258}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,533},{175,264}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,13},{175,264}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,179},{175,272}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{175,272}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
            <key>roleDroppingBomb2_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{175,272}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{175,272}}</string>
                <key>sourceSize</key>
                <string>{189,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>roleDroppingBomb2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcab6c4f8fe1be1738f4697676f57275$</string>
            <key>textureFileName</key>
            <string>roleDroppingBomb2.png</string>
        </dict>
    </dict>
</plist>
