<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shuffle_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,254},{152,114}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,23},{152,114}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,248},{244,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{244,136}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{244,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{244,136}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,250},{246,126}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,15},{246,126}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{266,124}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{266,124}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{246,114}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{246,114}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{190,114}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,23},{190,114}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,254},{152,114}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,23},{152,114}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{190,114}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,23},{190,114}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{190,126}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,10},{190,126}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,118},{188,134}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,0},{188,134}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,248},{244,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{244,136}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,250},{246,138}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,138}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{244,136}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{244,136}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
            <key>shuffle_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{246,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{246,142}}</string>
                <key>sourceSize</key>
                <string>{266,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuffle.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf873c70303d8363e940a61212a8d95$</string>
            <key>textureFileName</key>
            <string>shuffle.png</string>
        </dict>
    </dict>
</plist>
