<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_yezi_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,72},{34,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{34,27}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>img_yezi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{46,33}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{46,33}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>img_yezi_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,43},{34,27}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{34,27}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>img_yezi_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>img_yezi_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,37},{44,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{44,35}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>springBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{920,622}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{920,622}}</string>
                <key>sourceSize</key>
                <string>{922,622}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>springAnimation.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93aaca0e5a2747207124e5a91824612$</string>
            <key>textureFileName</key>
            <string>springAnimation.png</string>
        </dict>
    </dict>
</plist>
