<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>X2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1500,239}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,55},{1500,239}}</string>
                <key>sourceSize</key>
                <string>{1500,329}</string>
            </dict>
            <key>X2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,2},{958,329}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,0},{958,329}}</string>
                <key>sourceSize</key>
                <string>{1500,329}</string>
            </dict>
            <key>X2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,243},{820,273}}</string>
                <key>offset</key>
                <string>{55,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,22},{820,273}}</string>
                <key>sourceSize</key>
                <string>{1500,329}</string>
            </dict>
            <key>X2_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1065,243},{370,239}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{607,55},{370,239}}</string>
                <key>sourceSize</key>
                <string>{1500,329}</string>
            </dict>
            <key>X2_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,243},{382,239}}</string>
                <key>offset</key>
                <string>{42,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{601,55},{382,239}}</string>
                <key>sourceSize</key>
                <string>{1500,329}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ac_x2.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf0cacc23e5c74ebab8db17a60d896bc$</string>
            <key>textureFileName</key>
            <string>ac_x2.png</string>
        </dict>
    </dict>
</plist>
