<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>user_basic_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{118,774}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,774}}</string>
                <key>sourceSize</key>
                <string>{118,774}</string>
            </dict>
            <key>user_bind_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,602},{200,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,46}}</string>
                <key>sourceSize</key>
                <string>{200,46}</string>
            </dict>
            <key>user_female_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,602},{36,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,53}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>user_head_modfly_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,822},{59,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,59}}</string>
                <key>sourceSize</key>
                <string>{59,59}</string>
            </dict>
            <key>user_help_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,748},{71,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,72}}</string>
                <key>sourceSize</key>
                <string>{71,72}</string>
            </dict>
            <key>user_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,482},{385,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{385,3}}</string>
                <key>sourceSize</key>
                <string>{385,3}</string>
            </dict>
            <key>user_login_out_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,953},{200,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,46}}</string>
                <key>sourceSize</key>
                <string>{200,46}</string>
            </dict>
            <key>user_male_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,748},{36,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,55}}</string>
                <key>sourceSize</key>
                <string>{36,55}</string>
            </dict>
            <key>user_name_modefly_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,657},{34,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,31}}</string>
                <key>sourceSize</key>
                <string>{34,31}</string>
            </dict>
            <key>user_other_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{954,478}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{954,478}}</string>
                <key>sourceSize</key>
                <string>{954,478}</string>
            </dict>
            <key>user_point_gay.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,669},{168,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,242}}</string>
                <key>sourceSize</key>
                <string>{168,242}</string>
            </dict>
            <key>user_point_norm.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,602},{168,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,242}}</string>
                <key>sourceSize</key>
                <string>{168,242}</string>
            </dict>
            <key>user_pwd_modfly_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,905},{200,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,46}}</string>
                <key>sourceSize</key>
                <string>{200,46}</string>
            </dict>
            <key>user_title_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,602},{426,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,65}}</string>
                <key>sourceSize</key>
                <string>{426,65}</string>
            </dict>
            <key>user_togg_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,905},{811,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{811,103}}</string>
                <key>sourceSize</key>
                <string>{811,103}</string>
            </dict>
            <key>user_togg_select_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,482},{264,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,82}}</string>
                <key>sourceSize</key>
                <string>{264,82}</string>
            </dict>
            <key>user_togg_unselect_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,482},{264,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,82}}</string>
                <key>sourceSize</key>
                <string>{264,82}</string>
            </dict>
            <key>user_win_per_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,2},{901,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{901,54}}</string>
                <key>sourceSize</key>
                <string>{901,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userinfo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b992d14cab520fd0834295d1b3748aa3$</string>
            <key>textureFileName</key>
            <string>userinfo.png</string>
        </dict>
    </dict>
</plist>
