<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_info_bean_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,453},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>gs_info_bear.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,420},{68,74}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{68,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_info_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{706,416}</string>
            </dict>
            <key>gs_info_bz.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,420},{70,64}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,12},{70,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_info_com.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{449,416}}</string>
                <key>sourceSize</key>
                <string>{449,416}</string>
            </dict>
            <key>gs_info_djbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_info_djcount.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,453},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>gs_info_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,420},{70,68}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{70,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_info_head_party.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{257,416}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{257,416}}</string>
                <key>sourceSize</key>
                <string>{257,416}</string>
            </dict>
            <key>gs_info_hua.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,420},{80,72}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{80,72}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_info_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,499},{417,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{417,2}}</string>
                <key>sourceSize</key>
                <string>{417,2}</string>
            </dict>
            <key>gs_info_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{367,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{367,55}}</string>
                <key>sourceSize</key>
                <string>{367,55}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gs_userinfo.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b7b68f92ef2b0c60b2ffd238b33c719b$</string>
            <key>textureFileName</key>
            <string>gs_userinfo.png</string>
        </dict>
    </dict>
</plist>
