<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lb_crazy_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{620,586}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{620,586}}</string>
                <key>sourceSize</key>
                <string>{624,588}</string>
            </dict>
            <key>lb_first_box_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,638},{156,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,137}}</string>
                <key>sourceSize</key>
                <string>{156,137}</string>
            </dict>
            <key>lb_happy_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,2},{478,418}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,418}}</string>
                <key>sourceSize</key>
                <string>{480,420}</string>
            </dict>
            <key>lb_left_notice_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,963},{51,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,168}}</string>
                <key>sourceSize</key>
                <string>{51,168}</string>
            </dict>
            <key>lb_match_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{634,440}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{634,440}}</string>
                <key>sourceSize</key>
                <string>{636,442}</string>
            </dict>
            <key>lb_rascal_room_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{538,483}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{538,483}}</string>
                <key>sourceSize</key>
                <string>{544,487}</string>
            </dict>
            <key>lb_room_name_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,638},{323,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{323,52}}</string>
                <key>sourceSize</key>
                <string>{323,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lb_scene.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1b7ffc9605b951eb34fe6ee4768abf69$</string>
            <key>textureFileName</key>
            <string>lb_scene.png</string>
        </dict>
    </dict>
</plist>
