<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_exit_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1832},{322,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,139}}</string>
                <key>sourceSize</key>
                <string>{322,139}</string>
            </dict>
            <key>login_info_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,125},{114,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,116}}</string>
                <key>sourceSize</key>
                <string>{114,116}</string>
            </dict>
            <key>login_input_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1832},{186,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,50}}</string>
                <key>sourceSize</key>
                <string>{186,50}</string>
            </dict>
            <key>login_input_cursor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2020},{8,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{8,28}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>login_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,773},{1057,336}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{1057,336}}</string>
                <key>sourceSize</key>
                <string>{1065,342}</string>
            </dict>
            <key>login_logo_role.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1065,769}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{1065,769}}</string>
                <key>sourceSize</key>
                <string>{1083,769}</string>
            </dict>
            <key>login_mobile_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,2},{368,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{368,121}}</string>
                <key>sourceSize</key>
                <string>{370,123}</string>
            </dict>
            <key>login_other_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{368,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{368,121}}</string>
                <key>sourceSize</key>
                <string>{370,123}</string>
            </dict>
            <key>login_start_qucky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,2},{463,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{463,134}}</string>
                <key>sourceSize</key>
                <string>{465,134}</string>
            </dict>
            <key>login_version_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1973},{277,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,49}}</string>
                <key>sourceSize</key>
                <string>{277,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>login_scene.png</string>
            <key>size</key>
            <string>{2027,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:201971ccd100004b3b3724e98d09d204$</string>
            <key>textureFileName</key>
            <string>login_scene.png</string>
        </dict>
    </dict>
</plist>
