<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backGroundMusic</key>
	<string>playing_game_bg.mp3</string>
	<key>adjust_sound</key>
	<string>adjust_music.mp3</string>
	<key>laizi</key>
	<string>laizi_machine.mp3</string>
	<key>outPoker_one</key>
	<array>
		<string>one_poker_0.mp3</string>
		<array>
			<string>one_poker_1_t.mp3</string>
			<string>one_poker_1.mp3</string>
		</array>
		<string>one_poker_2.mp3</string>
		<string>one_poker_3.mp3</string>
		<string>one_poker_4.mp3</string>
		<string>one_poker_5.mp3</string>
		<string>one_poker_6.mp3</string>
		<string>one_poker_7.mp3</string>
		<string>one_poker_8.mp3</string>
		<string>one_poker_9.mp3</string>
		<string>one_poker_10.mp3</string>
		<string>one_poker_11.mp3</string>
		<array>
			<string>one_poker_12.mp3</string>
			<string>one_poker_12_t.mp3</string>
		</array>
		<string>play_xiaowang.mp3</string>
		<string>play_dawang.mp3</string>
	</array>
	<key>outPoker_two</key>
	<array>
		<string>two_poker_0.mp3</string>
		<string>two_poker_1.mp3</string>
		<string>two_poker_2.mp3</string>
		<string>two_poker_3.mp3</string>
		<string>two_poker_4.mp3</string>
		<string>two_poker_5.mp3</string>
		<string>two_poker_6.mp3</string>
		<string>two_poker_7.mp3</string>
		<string>two_poker_8.mp3</string>
		<string>two_poker_9.mp3</string>
		<string>two_poker_10.mp3</string>
		<string>two_poker_11.mp3</string>
		<string>two_poker_12.mp3</string>
	</array>
	<key>baodan</key>
	<array>
		<string>play_bao1.mp3</string>
		<string>play_bao1_2.mp3</string>
		<string>play_bao1_3.mp3</string>
	</array>
	<key>dazhu</key>
	<array>
		<string>play_dani_2.mp3</string>
		<string>play_dani_3.mp3</string>
		<string>play_guanshang.mp3</string>
		<string>play_dani.mp3</string>
		<string>play_yaole.mp3</string>
	</array>
	<key>rocket</key>
	<array>
		<string>play_rocket.mp3</string>
		<string>play_rocket_2.mp3</string>
	</array>
	<key>zhadan</key>
	<array>
		<string>play_zhadan_2.mp3</string>
		<string>play_zhadan_3.mp3</string>
		<string>play_zhadan.mp3</string>
	</array>
	<key>buyao</key>
	<array>
		<string>play_yaobuqi.mp3</string>
		<string>play_buchu.mp3</string>
		<string>play_guo_3.mp3</string>
		<string>play_guo.mp3</string>
	</array>
	<key>liandui</key>
	<string>play_liandui.mp3</string>
	<key>sandui</key>
	<string>play_sandui.mp3</string>
	<key>sandaiyi</key>
	<string>play_3dai1.mp3</string>
	<key>shunzi</key>
	<string>play_shun.mp3</string>
	<key>feiji</key>
	<string>play_feiji.mp3</string>
	<key>dizhuwin</key>
	<string>play_lord_win.mp3</string>
	<key>sandaier</key>
	<string>play_3dai2.mp3</string>
	<key>sanzhang</key>
	<string>play_3zhang.mp3</string>
	<key>sidaier</key>
	<string>play_4dai2.mp3</string>
	<key>getBean_success</key>
	<string>getBean_success.mp3</string>
	<key>fail</key>
	<string>fail.mp3</string>
	<key>win</key>
	<string>win.mp3</string>
	<key>click</key>
	<string>click_something.mp3</string>
	<key>yao</key>
	<string>play_chu.mp3</string>
	<key>changed</key>
	<string>page_changed.mp3</string>
	<key>expend</key>
	<string>paper_expended.mp3</string>
	<key>zaiqiang</key>
	<array>
		<string>call_zaiqiang_2.mp3</string>
		<string>call_zaiqiang.mp3</string>
	</array>
	<key>qiangdizhu</key>
	<array>
		<string>call_qiangdizhu_2.mp3</string>
		<string>call_qiangdizhu.mp3</string>
	</array>
	<key>mingpai</key>
	<array>
		<string>call_mingpai_2.mp3</string>
		<string>call_mingpai.mp3</string>
	</array>
	<key>bujiao</key>
	<array>
		<string>call_bujiao.mp3</string>
		<string>call_bujiao_2.mp3</string>
	</array>
	<key>buqiang</key>
	<array>
		<string>call_buqiang_2.mp3</string>
		<string>call_buqiang.mp3</string>
	</array>
	<key>jiaodizhu</key>
	<array>
		<string>call_jiaodizhu.mp3</string>
	</array>
</dict>
</plist>
