<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gs_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,362},{194,97}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{194,97}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>gs_menu_btn_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,101},{78,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,78}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>gs_menu_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{204,105}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{204,105}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>gs_menu_trustee.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{206,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{206,97}}</string>
                <key>sourceSize</key>
                <string>{206,105}</string>
            </dict>
            <key>gs_open_menu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,358}}</string>
                <key>sourceSize</key>
                <string>{250,358}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gs_topmenu.png</string>
            <key>size</key>
            <string>{484,469}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31f4ac8b0f50673c3dc77ff1dbae8801$</string>
            <key>textureFileName</key>
            <string>gs_topmenu.png</string>
        </dict>
    </dict>
</plist>
